<div class="col-lg-12">
  <h2>TUBE STATION CROWDING</h2>
</div>

<div class="col-lg-12">
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>

<script>
  var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    title: {
    },
    axisX: {
      interval:2,
      intervalType: "hour",        
      valueFormatString: "H",
      minimum: new Date(Date.UTC (2012, 01, 1, 1,0) ),
      maximum: new Date(Date.UTC (2012, 01, 1, 24,0) )
    },
    axisY: {
      title: "Number of Passengers"
    },
    legend: {
      verticalAlign: "top",
      horizontalAlign: "right",
      dockInsidePlotArea: true
    },
    toolTip: {
      shared: true
    },
    data: [{
      name: "Euston",
      showInLegend: true,
      legendMarkerType: "square",
      type: "area",
      color: "rgba(40,175,101,0.6)",
      markerSize: 0,
      dataPoints: [
        
        {x: new Date(Date.UTC (2012, 01, 1, 1,0) ), y: 26},
        // {x: 3, y: 26},
        {x: new Date( Date.UTC (2012, 01, 1,2,0) ), y: 38},
        {x: new Date( Date.UTC(2012, 01, 1,3,0) ), y: 43},
        {x: new Date( Date.UTC(2012, 01, 1,4,0) ), y: 29},
        {x: new Date( Date.UTC(2012, 01, 1,5,0) ), y: 41},
        {x: new Date( Date.UTC(2012, 01, 1,6,0) ), y: 54},
        {x: new Date( Date.UTC(2012, 01, 1,7,0) ), y: 66},
        {x: new Date( Date.UTC(2012, 01, 1,8,0) ), y: 60},
        {x: new Date( Date.UTC(2012, 01, 1,9,0) ), y: 53},
        {x: new Date( Date.UTC(2012, 01, 1,10,0) ), y: 60},
        {x: new Date(Date.UTC (2012, 01, 1, 11,0) ), y: 26},
        {x: new Date( Date.UTC (2012, 01, 1,12,0) ), y: 38},
        {x: new Date( Date.UTC(2012, 01, 1,13,0) ), y: 43},
        {x: new Date( Date.UTC(2012, 01, 1,14,0) ), y: 29},
        {x: new Date( Date.UTC(2012, 01, 1,15,0) ), y: 41},
        {x: new Date( Date.UTC(2012, 01, 1,16,0) ), y: 54},
        {x: new Date( Date.UTC(2012, 01, 1,17,0) ), y: 66},
        {x: new Date( Date.UTC(2012, 01, 1,18,0) ), y: 60},
        {x: new Date( Date.UTC(2012, 01, 1,19,0) ), y: 53},
        {x: new Date( Date.UTC(2012, 01, 1,20,0) ), y: 60}

              
      ]
    },
    {
      name: "King's Cross",
      showInLegend: true,
      legendMarkerType: "square",
      type: "area",
      color: "rgba(0,75,141,0.7)",
      markerSize: 0,
      dataPoints: [
    
        {x: new Date(Date.UTC (2012, 01, 1, 1,0) ), y: 34 },
        {x: new Date( Date.UTC (2012, 01, 1,2,0) ), y: 31  },
        {x: new Date( Date.UTC(2012, 01, 1,3,0) ), y: 52 },
        {x: new Date( Date.UTC(2012, 01, 1,4,0) ), y: 37},
        {x: new Date( Date.UTC(2012, 01, 1,5,0) ), y: 19},
        {x: new Date( Date.UTC(2012, 01, 1,6,0) ), y: 25},
        {x: new Date( Date.UTC(2012, 01, 1,7,0) ), y: 76},
        {x: new Date( Date.UTC(2012, 01, 1,8,0) ), y: 89},
        {x: new Date( Date.UTC(2012, 01, 1,9,0) ), y: 54},
        {x: new Date( Date.UTC(2012, 01, 1,10,0) ), y: 57},
        {x: new Date(Date.UTC (2012, 01, 1, 11,0) ), y: 34 },
        {x: new Date( Date.UTC (2012, 01, 1,12,0) ), y: 31  },
        {x: new Date( Date.UTC(2012, 01, 1,13,0) ), y: 52 },
        {x: new Date( Date.UTC(2012, 01, 1,14,0) ), y: 37},
        {x: new Date( Date.UTC(2012, 01, 1,15,0) ), y: 19},
        {x: new Date( Date.UTC(2012, 01, 1,16,0) ), y: 25},
        {x: new Date( Date.UTC(2012, 01, 1,17,0) ), y: 76},
        {x: new Date( Date.UTC(2012, 01, 1,18,0) ), y: 89},
        {x: new Date( Date.UTC(2012, 01, 1,19,0) ), y: 54},
        {x: new Date( Date.UTC(2012, 01, 1,20,0) ), y: 57}

      ]
    }]
  });
  chart.render();
</script>