<div class="col-lg-12">
  <h2>TUBE STATION CROWDING</h2>
</div>

<div class="col-lg-12">
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>

<script>
  var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    title: {
    },
    axisX: {
      interval:1,
      /*intervalType: "hour",        
            valueFormatString: "H",*/
      minimum: 0,
      maximum: 24
    },
    axisY: {
      title: "Number of Passengers"
    },
    legend: {
      verticalAlign: "top",
      horizontalAlign: "right",
      dockInsidePlotArea: true
    },
    toolTip: {
      shared: true
    },
    data: [{
      name: "King's Cross",
      showInLegend: true,
      legendMarkerType: "square",
      type: "area",
      color: "rgba(40,175,101,0.6)",
      markerSize: 0,
      dataPoints: [
        
        {x: 00, y: 3.06735579443},
        {x: 01, y: 2.375},
        {x: 05, y: 3.85228678151},
        {x: 06, y: 11.4642943513},
        {x: 07, y: 23.100495022},
        {x: 08, y: 37.4277398823},
        {x: 09, y: 28.1627756478},
        {x: 10, y: 16.1485677934},
        {x: 11, y: 12.4276889048},
        {x: 12, y: 13.2105084135},
        {x: 13, y: 14.8879564947},
        {x: 14, y: 15.3940695199},
        {x: 15, y: 15.8879677044},
        {x: 16, y: 13.1130337774},
        {x: 17, y: 14.7001172301},
        {x: 18, y: 13.510517029},
        {x: 19, y: 10.6810873464},
        {x: 20, y: 8.65615908145},
        {x: 21, y: 7.59377891915},
        {x: 22, y: 6.74757419543},
        {x: 23, y: 5.18860192093}
              
      ]
    },
    {
      name: "Euston",
      showInLegend: true,
      legendMarkerType: "square",
      type: "area",
      color: "rgba(0,75,141,0.7)",
      markerSize: 0,
      dataPoints: [
    
        {x: 00, y: 7.0303004678},
        {x: 01, y: 1.4375},
        {x: 05, y: 5.23122571853},
        {x: 06, y: 28.1704936594},
        {x: 07, y: 91.490194656},
        {x: 08, y: 135.347043783},
        {x: 09, y: 98.9570634599},
        {x: 10, y: 64.5640296307},
        {x: 11, y: 56.5766633171},
        {x: 12, y: 63.7220915261},
        {x: 13, y: 54.5611342359},
        {x: 14, y: 51.7136003406},
        {x: 15, y: 59.3593442455},
        {x: 16, y: 81.1315980457},
        {x: 17, y: 114.379865095},
        {x: 18, y: 108.387644093},
        {x: 19, y: 73.5120694104},
        {x: 20, y: 54.4908801317},
        {x: 21, y: 43.8310578132},
        {x: 22, y: 31.5143839872},
        {x: 23, y: 19.3948484514}

      ]
    }]
  });
  chart.render();
</script>